USE [master]
GO
/****** Object:  Database [AppiatechDB]    Script Date: 4/6/2021 6:10:19 PM ******/
CREATE DATABASE [AppiatechDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppiatechDB', FILENAME = N'C:\Users\HP\AppiatechDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppiatechDB_log', FILENAME = N'C:\Users\HP\AppiatechDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppiatechDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppiatechDB]
GO
USE [AppiatechDB]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/6/2021 6:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
